/* 덱 전체 컨테이너 */
.deck-container {
    -fx-background-color: rgba(0, 0, 0, 0.90);
    -fx-background-radius: 15;
}

/* 덱 카드 정보를 보여주는 것 */
.card-container {
    -fx-alignment: center;
    -fx-padding: 10 0 10 0; /* top, right, bottom, left 순서 */
}

/* 정보 관련 최상위 컨테이너 */
.deck-info-container {
    -fx-border-color: white transparent white transparent;
    -fx-border-width: 1 0 1 0;
    -fx-alignment: center_left;
}

/* 승률 정보와 게임 수 정보 */
.info-container {
    -fx-pref-width: 100;
    -fx-alignment: center;
}

/* 덱 정보 Label (games, win rate 등) */
.deck-info-tags-label {
    -fx-padding: 10 0 0 0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-family: 'sans-serif';
}

.deck-info-data-label {
    -fx-font-family: 'sans-serif';
    -fx-padding: 0 0 10 0;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.copy-deck-label {
    /* background color -> DeckController.java에서 관리 , transition 때문에 */
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-font-family: 'Arial Black', 'sans-serif';
    -fx-font-width: bold;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

/* deck 제목 정보를 담은 컨테이너 */
.title-container {
    -fx-alignment: center_left;
    -fx-min-height: 70;
}

/* 제목 label */
.title-label {
    -fx-font-family: 'Arial Black', 'sans-serif';
    -fx-padding: 10 0 10 15;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-max-width: 250;
    -fx-min-width: 250;
}

/* deck 플레이 타임에 대한 컨테이너 */
.deck-play-time-info-label {
    -fx-alignment: center_left;
    -fx-font-family: 'Sans Serif Collection', 'sans-serif';
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.deck-play-time-data-label {
    -fx-alignment: center_left;
    -fx-font-family: 'Arial Black', 'sans-serif';
    -fx-text-fill: white;
}